html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

/* math fact box*/
#fact-box1{
  width: 320px;
  height: 100px;
  padding: 10px;
  border: 2px solid #6496ed;
  margin: 20px auto;
  background-color: white;
}

/* english fact box */
#fact-box2{
  width: 320px;
  height: 100px;
  padding: 10px;
  border: 2px solid #dc143c;
  margin: 20px auto;
  background-color: white;
}

/* science fact box */
#fact-box3{
  width: 320px;
  height: 100px;
  padding: 10px;
  border: 2px solid #90ee90;
  margin: 20px auto;
  background-color: white;
}

/* history fact box */
#fact-box4{
  width: 320px;
  height: 100px;
  padding: 10px;
  border: 2px solid #ffa500;
  margin: 20px auto;
  background-color: white;
}

/* arts fact box */
#fact-box5{
  width: 320px;
  height: 100px;
  padding: 10px;
  border: 2px solid #9370cb;
  margin: 20px auto;
  background-color: white;
}

/* suprise fact box */
#fact-box6{
  width: 320px;
  height: 100px;
  padding: 10px;
  border: 2px solid #ffc0cb;
  margin: 20px auto;
  background-color: white;
}

.button{ 
      border: none;
      color: white;
    padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    transition-duration: 0.2s;
    }

  .math{ 
      background-color: white;
      color: black;
  border: 2px solid black
    }
 .math:hover {
      background-color: #6496ed;
      color: white;
    }

   .english{
      background-color: white;
      color: black;
      border: 2px solid black;
    }
.english:hover {
      background-color: #dc143c;
      color: white;
    }

    .science{
      background-color: white;
      color: black;
      border: 2px solid black;
      }
.science:hover{
      background-color: #90ee90;
      color: white;
    }

    .history{
      background-color: white;
      color: black;
      border: 2px solid black;
    }
.history:hover{
  background-color: #ffa500;
  color: white;
    }

    .arts{
      background-color: white;
      color: black;
      border: 2px solid black;
    }
.arts:hover{
      background-color: #9370db;
      color: white;
    }

    .suprise{
      background-color: white;
      color: black;
      border: 2px solid black;
    }
.suprise:hover{
      background-color: #ffc0cb;
  color: white;
    }

    h1 {
      text-align: center;
    }

    p {
      text-align: center;
      color: #333;
    }

  